<div class="page">
  <div class="container">
    <h1>イベント一覧</h1>

    <div *ngIf="eventList.length==0; else elseBlock">
      作成したイベントはありません．<a class="new-event" [routerLink]="['/events/new']">こちら</a>からイベントを作成しましょう．
    </div>
    <ng-template #elseBlock>
      <div class="eventlist">
        <div class="event-content" *ngFor="let event of eventList; let i = index;" [routerLink]="['/events', event.id]">
          <div class="event-name">{{event.name}}</div>
          <div class="event-description">
            {{event.description}}
          </div>
          <div class="event-footer">
              <div class="event-start-date">開始日：{{event.startDate | date: 'yyyy/MM/dd HH:mm:ss'}}</div>
              <div class="event-end-date">終了日：{{event.endDate | date: 'yyyy/MM/dd HH:mm:ss'}}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
