.container form {
	display: flex;
	flex-direction: column;
}
  
.container form > * {
  width: 100%;
}

.page {
	margin: 10px 20px;
}

mat-form-field {
	margin-top: 20px;
}

.result-status {
	color: green;
	font-size: 24px;
	text-align: center;
	margin-top: 10px;
}

.error-msg {
	color: red;
	font-size: 10px;
	text-align: center;
	margin-bottom: 20px;
}