<div class="page">
  <h1>イベントの詳細</h1>
  <div class="event-info" *ngIf="event.id">
    <div class="event-row">
      <h2>ID</h2>
      <div class="event-content">
        {{event.id}}
      </div>
    </div>
    <div class="event-row">
      <h2>名前</h2>
      <div class="event-content">
        {{event.name}}
      </div>
    </div>
    <div class="event-row">
      <h2>説明</h2>
      <div class="event-content">
        {{event.description}}
      </div>
    </div>
    <div class="event-row">
      <h2>場所</h2>
      <div class="event-content">
        {{event.location}}
      </div>
    </div>
    <div class="event-row">
      <h2>開始日時</h2>
      <div class="event-content">
        {{event.startDate | date: 'yyyy/MM/dd HH:mm:ss'}}
      </div>
    </div>
    <div class="event-row">
      <h2>終了日時</h2>
      <div class="event-content">
        {{event.endDate | date: 'yyyy/MM/dd HH:mm:ss'}}
      </div>
    </div>
    <div class="event-row">
      <h2>作成日時</h2>
      <div class="event-content">
        {{event.createdAt | date: 'yyyy/MM/dd HH:mm:ss'}}
      </div>
    </div>
    <div class="event-row">
      <h2>更新日時</h2>
      <div class="event-content">
        {{event.updatedAt | date: 'yyyy/MM/dd HH:mm:ss'}}
      </div>
    </div>
  </div>
</div>
