.event-info {
    
}

.event-row h2 {
    padding: 4px 12px;
    border-left: 3px solid #01ad10;
}

.event-row .event-content {
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 18px;
}

.event-row button {
    width: 100%;
    margin-bottom: 5px;
}

.loading {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
  
    width: 128px;
    height: 64px;
}