<div class="hierarchy">
  <a [routerLink]="['']">イベント一覧</a> / イベント詳細
</div>
<div class="page" *ngIf="event; else elseBlock">
  <h1>{{event.name}}</h1>
  <div class="event-info">
    <div class="event-row">
      <h2>ID</h2>
      <div class="event-content">
        {{event.id}}
      </div>
    </div>
    <div class="event-row">
      <h2>説明</h2>
      <div class="event-content">
        {{event.description}}
      </div>
    </div>
    <div class="event-row">
      <h2>場所</h2>
      <div class="event-content">
        {{event.location}}
      </div>
    </div>
    <div class="event-row">
      <h2>日時</h2>
      <div class="event-content">
        {{event.startDate | date: 'yyyy/MM/dd HH:mm:ss'}} ~ {{event.endDate | date: 'yyyy/MM/dd HH:mm:ss'}}
      </div>
    </div>
    <div class="event-row">
      <button color="primary" mat-raised-button routerLink="/events/{{event.id}}/locations/new">出発地・目的地の設定</button>    
    </div>
    <div class="event-row">
      <button color="primary" mat-raised-button routerLink="/events/{{event.id}}/beacons/new">ビーコンの設定</button>      
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>