@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    padding: 0 !important;
    margin: 0 !important;
}

.page {
    margin: 10px 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    border-left: 5px solid #4043e6;
    padding-left: 10px;
}

h3 {
    font-size: 18px;
    border-left: 3px solid #4043e6;
    padding-left: 10px;
}

.hierarchy {
    margin: 25px 20px 0px;
}

.hierarchy a {
    text-decoration: none
}

.hierarchy a:hover{
    text-decoration: underline
}